<h1 class="page-header"><i class="fa fa-sitemap fa-fw"></i> Spider <small>Configuration</small></h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Host</th>
			<th>Identifier</th>
			<th>Start</th>
			<th>Feed URL</th>
			<th colspan="2">
				<a href="#/spider/config/add" class="btn btn-success"><span class="fa fa-plus-square"></span> Add New Rule</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="rule in rules">
			<td>{{rule.Id}}</td>
			<td>{{rule.Host}}</td>
			<td>{{rule.Rule.Ident}}</td>
			<td><a href="{{rule.Rule.Start}}" target="_blank">{{rule.Rule.Start}}</a></td>
			<td>http://rpi-000c.node.pipod00.ocular8.net/{{rule.Rule.Ident}}.rss</td>
			<td>
				<a href="#/spider/config/edit/{{rule.Id}}"><span class="fa fa-edit fa-fw"></span> Edit</a>
			</td>
			<td ng-controller="SpiderRuleDeleteController">
				<a ng-click="confirmDelete(rule.Id)"><span class="fa fa-trash-o fa-fw"></span> Delete</a>
			</td>
		</tr>
	</tbody>
</table>

<script type="text/ng-template" id="ModalDelete.html">
	<div class="modal-header">
		<h4 class="modal-title">Confirm Deletion</h4>
	</div>
	<div class="modal-body">
		Are you sure you want to delete the rule for {{id}}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="ok()">Delete</button>
		<button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>
